In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
from datetime import date, datetime
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [ ]:
stocks = [
    ('Google', 'GOOGL', 'USA', 2984, 'USD'), 
    ('Netflix', 'NFLX', 'USA', 645, 'USD'),
    ('Amazon', 'AMZN', 'USA', 3518, 'USD'),
    ('Tesla', 'TSLA', 'USA', 1222, 'USD'),
    ('Tencent', '0700', 'Hong Kong', 483, 'HKD'),
    ('Toyota', '7203', 'Japan', 2006, 'JPY'),
    ('Samsung', '005930', 'Korea', 70600, 'KRW'),
    ('Kakao', '035720', 'Korea', 125000, 'KRW'),
]
stockSchema = ["name", "ticker", "country", "price", "currency"]
df = spark.createDataFrame(data=stocks, schema=stockSchema)

In [ ]:
df.show()
df.printSchema()

In [ ]:
# 1. df에서 name, ticker를 추출하시오
ans1 = df.select("name", "ticker")
ans1.show()

In [ ]:
# 2. df를 stocks 라는 view로 생성하시오
df.createOrReplaceTempView("stocks")

In [ ]:
# 3. view stocks를 사용하여 stocks view의 모든 컬럼을 추출하시오
ans3 = spark.sql("select * from stocks")
ans3.show()

In [ ]:
# 4. stocks view에서 country가 Korea인 data만 추출하시오
ans4 = spark.sql('''select * 
                    from stocks
                    where country = "Korea"
                    ''')
ans4.show()

In [ ]:
# 5. df에서 country가 Korea인 data를 추출하시오
ans5 = df.select("*") \
        .filter(df.country == "Korea")
ans5.show()

In [ ]:
# 6. stocks view에서 price 갸 2000 초과하고 country가  USA인 데이터의 name과 price를 출력하시오
ans6 = spark.sql('''select name, price 
                    from stocks
                    where price > 2000
                    and country = "USA"
                    ''')
ans6.show()

In [ ]:
# 7. df에서 price 가 2000 초과하고 country가  USA인 데이터의 name과 price를 출력하시오
ans7 = df.select("name", "price") \
        .filter((df.price > 2000) &
               (df.country == "USA"))
ans7.show()

In [ ]:
# 8. sotocks view에서 country가 U로 시작하는 데이터의 name과 price를 추출하시오
ans8 = spark.sql('''select name, price 
                    from stocks
                    where country like "U%"
                    ''')
ans8.show()

In [ ]:
# 9. df에서 country가 U로 시작하는 데이터의 name과 price를 추출하시오
ans9 = df.select("name", "price") \
        .filter(df.country.like("U%"))
ans9.show()

In [ ]:
# 10. stocks view에서 country가 'U'로 시작하고 이름에 'e'가 포함되지 않은 데이터의 name과 price를 추출하시오.
ans10 = spark.sql('''select name, price 
                    from stocks
                    where (country like 'U%')
                    and NOT (name like '%e%')
                    ''')
ans10.show()

In [ ]:
# 11. df에서 country가 'U'로 시작하고 이름에 'e'가 포함되지 않은 데이터의 name과 price를 추출하시오.

ans11 = df.select("name", "price") \
        .filter((df.country.startswith("U")) &
               ~(df.name.like("%e%")))
ans11.show()

In [ ]:
# 12. stocks view에서 price가 1000~10000인 데이터를 추출하시오
ans12 = spark.sql('''select * 
                    from stocks
                    where price between 1000 and 10000
                    ''')
ans12.show()