In [ ]:
# 운영 DB 적재에 해당된다

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# 데이터마트용 계정 생성
# mysql> create user bigSVC@'%' identified by 'bigSVC1234@';
# Query OK, 0 rows affected (0.01 sec)

# mysql> grant all privileges on *.* to bigSVC@'%' with grant option;
# - with grant option : 해당 계정이 받은 권한을 다른 계쩡에게 전달해주는게 가능하게 하겠다
# Query OK, 0 rows affected (0.02 sec)

In [4]:
from datetime import date, datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt #그래프 패키지 모듈 등록
%matplotlib inline

In [5]:
def cal_std_day(befor_day):   
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)  
    return str(year)+ '-' +str(month)+ '-' +str(day)

### JDBC 연결정보

In [59]:
# DM DB 연결정보
conf_dm = {
      'url':'jdbc:mysql://localhost:3306/etlMysqlDM?characterEncoding=utf8&serverTimezone=Asia/Seoul'
     ,'props':{
      'user':'bigMysql',
      'password':'bigMysql1234@'   
      }
}

# service DB 연결정보
# conf_svc= {
#       'url':'jdbc:mysql://localhost:3306/etlMysqlSVC?characterEncoding=utf8&serverTimezone=Asia/Seoul'
#      ,'props':{
#       'user':'bigSVC',
#       'password':'bigSVCl1234@'   
#       }
# }

conf_svc = {
    'url': 'jdbc:mysql://127.0.0.1:3306/etlMysqlSVC?characterEncoding=utf8&serverTimezone=Asia/Seoul',
    'props': {
        'user': 'bigSVC',
        'password': 'bigSVCl1234@'
    }
}

## Load DataMart

### 1. 지역별 단위면적(km)당 인구수와 코로나 확진자 수 데이터 저장
- base data load
    - LOC table : 지역별 인구와 면적
    - dm db data read -> 처리코드 -> service db dataload

In [60]:
spark.read.jdbc(url=conf_dm["url"], table = "LOC", properties=conf_dm["props"]).show()

+----+------+---------+
| LOC|  AREA|     POPU|
+----+------+---------+
|서울|  605 | 9736027 |
|부산|  770 | 3396109 |
|대구|  883 | 2412642 |
|인천| 1065 | 3014739 |
|광주|  501 | 1462545 |
|대전|  540 | 1469543 |
|울산| 1062 | 1138419 |
|세종|  465 |  376779 |
|경기|10195 |13925862 |
|강원|16830 | 1555876 |
|충북| 7407 | 1633472 |
|충남| 8246 | 2181835 |
|전북| 8070 | 1817186 |
|전남|12348 | 1865459 |
|경북|19034 | 2677709 |
|경남|10541 | 3377331 |
|제주| 1850 |  697476 |
+----+------+---------+

In [61]:
# db table 읽기, 저장함수
# read 함수
def find_data(config, table_name) :
    return spark.read.jdbc(url=config["url"], table = table_name, properties=config["props"])

# write 함수
def save_data(config, df, table_name) :
    df.write.jdbc(url=config["url"], table = table_name, mode="append", properties=config["props"])

#### 단위 면적당 인구수, 코로나 확진자 수 현황
- DM DB의 LOC, CORPNA_PATIENTS 테이블

In [62]:
popu = find_data(conf_dm, "LOC")
patients = find_data(conf_dm, "CORONA_PATIENTS")

In [63]:
popu.columns
patients.columns

['LOC', 'AREA', 'POPU']

['LOC', 'DEATH_CNT', 'DEF_CNT', 'LOC_OCC_CNT', 'QUR_RATE', 'STD_DAY']

['LOC', 'DEATH_CNT', 'DEF_CNT', 'LOC_OCC_CNT', 'QUR_RATE', 'STD_DAY']   
 지역   누적사망자수  누적 발생수  지역발생수     만명당 발생률  기준일자

In [64]:
popu.count()
patients.count()

17

204

In [65]:
popu.join(patients, on="LOC").tail(10)
popPatient = popu.join(patients, on="LOC") \
                 .select("LOC",
                        ceil(col("POPU")/col("AREA")).alias("POPU_DENST"),
                        "QUR_RATE", "STD_DAY") \
                 .orderBy(col("STD_DAY"))

[Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='123', DEF_CNT='12555', LOC_OCC_CNT='55', QUR_RATE='786', STD_DAY='2022-01-18'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='123', DEF_CNT='12636', LOC_OCC_CNT='79', QUR_RATE='791', STD_DAY='2022-01-19'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='123', DEF_CNT='12812', LOC_OCC_CNT='174', QUR_RATE='802', STD_DAY='2022-01-20'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='123', DEF_CNT='12898', LOC_OCC_CNT='85', QUR_RATE='807', STD_DAY='2022-01-21'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='123', DEF_CNT='12636', LOC_OCC_CNT='79', QUR_RATE='791', STD_DAY='2022-01-19'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='123', DEF_CNT='12812', LOC_OCC_CNT='174', QUR_RATE='802', STD_DAY='2022-01-20'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='123', DEF_CNT='12898', LOC_OCC_CNT='85', QUR_RATE='807', STD_DAY='2022-01-21'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='121', DEF_CNT='12455', LOC_OCC_CNT='37', QUR_RATE='780', STD_DAY='2022-01-16'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='121', DEF_CNT='12497', LOC_OCC_CNT='38', QUR_RATE='782', STD_DAY='2022-01-17'),
 Row(LOC='충북', AREA='7407 ', POPU='1633472 ', DEATH_CNT='123', DEF_CNT='12555', LOC_OCC_CNT='55', QUR_RATE='786', STD_DAY='2022-01-18')]

In [66]:
popPatient.show(5)
popPatient.tail(5)

+----+----------+--------+----------+
| LOC|POPU_DENST|QUR_RATE|   STD_DAY|
+----+----------+--------+----------+
|경남|       321|     679|2022-01-16|
|대구|      2733|    1040|2022-01-16|
|경북|       141|     637|2022-01-16|
|경남|       321|     679|2022-01-16|
|경북|       141|     637|2022-01-16|
+----+----------+--------+----------+
only showing top 5 rows

[Row(LOC='제주', POPU_DENST=378, QUR_RATE='730', STD_DAY='2022-01-21'),
 Row(LOC='충남', POPU_DENST=265, QUR_RATE='978', STD_DAY='2022-01-21'),
 Row(LOC='충남', POPU_DENST=265, QUR_RATE='978', STD_DAY='2022-01-21'),
 Row(LOC='충북', POPU_DENST=221, QUR_RATE='807', STD_DAY='2022-01-21'),
 Row(LOC='충북', POPU_DENST=221, QUR_RATE='807', STD_DAY='2022-01-21')]

- 각 DB에 고유번호를 추가해서 레코드를 유일하게 구별하는 컬럼으로 사용
    - spark 데이터 프레임의 statfuctions 패키지 함수 중 monotonically_increasing_id
    - 데이터프레임의 로우에 매핑되는 고유 id 반환

In [67]:
popPatFin = popPatient.withColumn("CP_IDX", monotonically_increasing_id())
popPatFin.show()

+----+----------+--------+----------+------+
| LOC|POPU_DENST|QUR_RATE|   STD_DAY|CP_IDX|
+----+----------+--------+----------+------+
|강원|        93|     888|2022-01-16|     0|
|강원|        93|     888|2022-01-16|     1|
|경기|      1366|    1534|2022-01-16|     2|
|경기|      1366|    1534|2022-01-16|     3|
|경남|       321|     679|2022-01-16|     4|
|경남|       321|     679|2022-01-16|     5|
|경북|       141|     637|2022-01-16|     6|
|경북|       141|     637|2022-01-16|     7|
|광주|      2920|     697|2022-01-16|     8|
|광주|      2920|     697|2022-01-16|     9|
|대구|      2733|    1040|2022-01-16|    10|
|대구|      2733|    1040|2022-01-16|    11|
|대전|      2722|     900|2022-01-16|    12|
|대전|      2722|     900|2022-01-16|    13|
|부산|      4411|     832|2022-01-16|    14|
|부산|      4411|     832|2022-01-16|    15|
|서울|     16093|    2543|2022-01-16|    16|
|서울|     16093|    2543|2022-01-16|    17|
|세종|       811|     634|2022-01-16|    18|
|세종|       811|     634|2022-01-16|    19|
+----+----------+--------+----------+------+
only showing top 20 rows

In [68]:
save_data(conf_svc, popPatFin, "CO_POP_DENSITY")

Py4JJavaError: An error occurred while calling o392.jdbc.
: java.sql.SQLException: Access denied for user 'bigSVC'@'localhost' (using password: YES)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
	at com.mysql.cj.jdbc.ConnectionImpl.createNewIO(ConnectionImpl.java:828)
	at com.mysql.cj.jdbc.ConnectionImpl.<init>(ConnectionImpl.java:448)
	at com.mysql.cj.jdbc.ConnectionImpl.getInstance(ConnectionImpl.java:241)
	at com.mysql.cj.jdbc.NonRegisteringDriver.connect(NonRegisteringDriver.java:198)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.BasicConnectionProvider.getConnection(BasicConnectionProvider.scala:49)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.ConnectionProviderBase.create(ConnectionProvider.scala:102)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1(JdbcDialects.scala:160)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1$adapted(JdbcDialects.scala:156)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:50)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

### 2. 백신접종 완료자와 코로나 발생현황 데이터 저장
- 백신 접종 3차 접종자수(누적) : 인구 10만명당 접종자수
- 코로나 발생현황 : QUR_RATE(인구 10만명당 발생자수)

In [30]:
vaccine = find_data(conf_dm, "CORONA_VACCINE")
vaccine.show(3)
vaccine.printSchema()

+----+----------+-------+---------+
| loc|   std_day|level_2|    V_CNT|
+----+----------+-------+---------+
|대전|2022-01-16|     v2|1201356.0|
|대전|2022-01-16|     v1|  1230936|
|대전|2022-01-16|     v3|   8242.0|
+----+----------+-------+---------+
only showing top 3 rows

root
 |-- loc: string (nullable = true)
 |-- std_day: string (nullable = true)
 |-- level_2: string (nullable = true)
 |-- V_CNT: string (nullable = true)

In [31]:
vaccine.withColumn("V_CNT", vaccine["V_CNT"].cast(IntegerType()))
vaccine.show(2)

DataFrame[loc: string, std_day: string, level_2: string, V_CNT: int]

+----+----------+-------+---------+
| loc|   std_day|level_2|    V_CNT|
+----+----------+-------+---------+
|대전|2022-01-16|     v2|1201356.0|
|대전|2022-01-16|     v1|  1230936|
+----+----------+-------+---------+
only showing top 2 rows

In [48]:
# long df --> wide df 변환 (V_TH 컬럼 값을 컬럼으로 변환)
# pivot 사용 : pandas df로 변환
pdVac = vaccine.pandas_api()
type(pdVac)

pyspark.pandas.frame.DataFrame

In [49]:
pdVac

    loc     std_day level_2       V_CNT
0    대전  2022-01-16      v2   1201356.0
1    대전  2022-01-16      v1     1230936
2    대전  2022-01-16      v3      8242.0
3    울산  2022-01-17      v2    930969.0
4    울산  2022-01-17      v1      956456
5    울산  2022-01-17      v3       240.0
6    서울  2022-01-16      v2   8078465.0
7    서울  2022-01-16      v1     8235942
8    서울  2022-01-16      v3     53011.0
9    전남  2022-01-13      v2   1593531.0
10   전남  2022-01-13      v1     1629691
11   전남  2022-01-13      v3     11070.0
12   부산  2022-01-16      v2   2783249.0
13   부산  2022-01-16      v1     2847993
14   부산  2022-01-16      v3     19131.0
15   인천  2022-01-16      v2   2480078.0
16   인천  2022-01-16      v1     2531621
17   인천  2022-01-16      v3     21679.0
18   제주  2022-01-16      v2    565511.0
19   제주  2022-01-16      v1      580252
20   제주  2022-01-16      v3      2907.0
21   제주  2022-01-17      v2    565580.0
22   제주  2022-01-17      v1      580267
23   제주  2022-01-17      v3       221.0
24   강원  2022-01-13      v2   1298927.0
25   강원  2022-01-13      v1     1329749
26   강원  2022-01-13      v3      9489.0
27   인천  2022-01-17      v2   2480340.0
28   인천  2022-01-17      v1     2531729
29   인천  2022-01-17      v3      1396.0
30   경남  2022-01-16      v2   2778447.0
31   경남  2022-01-16      v1     2846948
32   경남  2022-01-16      v3     18787.0
33   경기  2022-01-14      v2  11361626.0
34   경기  2022-01-14      v1    11635521
35   경기  2022-01-14      v3     86734.0
36   충북  2022-01-16      v2   1376714.0
37   충북  2022-01-16      v1     1407989
38   충북  2022-01-16      v3      9444.0
39   경기  2022-01-16      v2  11394192.0
40   경기  2022-01-16      v1    11646846
41   경기  2022-01-16      v3     93399.0
42   전북  2022-01-16      v2   1544854.0
43   전북  2022-01-16      v1     1574264
44   전북  2022-01-16      v3     10070.0
45   전북  2022-01-13      v2   1537974.0
46   전북  2022-01-13      v1     1572742
47   전북  2022-01-13      v3      9890.0
48   전남  2022-01-17      v2   1600290.0
49   전남  2022-01-17      v1     1631390
50   전남  2022-01-17      v3       261.0
51   대전  2022-01-17      v2   1201442.0
52   대전  2022-01-17      v1     1230930
53   대전  2022-01-17      v3       315.0
54   서울  2022-01-13      v2   8049504.0
55   서울  2022-01-13      v1     8227788
56   서울  2022-01-13      v3     46088.0
57   전북  2022-01-14      v2   1540820.0
58   전북  2022-01-14      v1     1573274
59   전북  2022-01-14      v3     11905.0
60   충남  2022-01-16      v2   1826570.0
61   충남  2022-01-16      v1     1869192
62   충남  2022-01-16      v3     12348.0
63   대전  2022-01-13      v2   1194853.0
64   대전  2022-01-13      v1     1229214
65   대전  2022-01-13      v3      7793.0
66   경북  2022-01-13      v2   2187682.0
67   경북  2022-01-13      v1     2256335
68   경북  2022-01-13      v3     15733.0
69   전남  2022-01-14      v2   1596385.0
70   전남  2022-01-14      v1     1630235
71   전남  2022-01-14      v3     12861.0
72   울산  2022-01-13      v2    925527.0
73   울산  2022-01-13      v1      955163
74   울산  2022-01-13      v3      7344.0
75   전북  2022-01-17      v2   1544881.0
76   전북  2022-01-17      v1     1574236
77   전북  2022-01-17      v3       331.0
78   대구  2022-01-16      v2   1941088.0
79   대구  2022-01-16      v1     1996434
80   대구  2022-01-16      v3     13684.0
81   강원  2022-01-16      v2   1304466.0
82   강원  2022-01-16      v1     1331330
83   강원  2022-01-16      v3      5922.0
84   제주  2022-01-13      v2    561670.0
85   제주  2022-01-13      v1      579492
86   제주  2022-01-13      v3      4248.0
87   충북  2022-01-14      v2   1372898.0
88   충북  2022-01-14      v1     1406790
89   충북  2022-01-14      v3     11512.0
90   제주  2022-01-14      v2    563328.0
91   제주  2022-01-14      v1      579741
92   제주  2022-01-14      v3      4645.0
93   강원  2022-01-14      v2   1301351.0
94   강원  2022-01-14      v1     1330362
95   강원  2022-01-14      v3     10975.0
96   충남  2022-01-13      v2   1817963.0
97   충남  2022-01-13      v1     1866552
98   충남  2022-01-13      v3     12764.0
99   광주  2022-01-17      v2   1218249.0
100  광주  2022-01-17      v1     1247205
101  광주  2022-01-17      v3       149.0
102  광주  2022-01-13      v2   1210797.0
103  광주  2022-01-13      v1     1245589
104  광주  2022-01-13      v3      8463.0
105  경북  2022-01-17      v2   2198127.0
106  경북  2022-01-17      v1     2259821
107  경북  2022-01-17      v3       346.0
108  강원  2022-01-17      v2   1304498.0
109  강원  2022-01-17      v1     1331333
110  강원  2022-01-17      v3       184.0
111  충북  2022-01-17      v2   1376810.0
112  충북  2022-01-17      v1     1408019
113  충북  2022-01-17      v3       534.0
114  충남  2022-01-14      v2   1821328.0
115  충남  2022-01-14      v1     1867376
116  충남  2022-01-14      v3     14770.0
117  충남  2022-01-17      v2   1826751.0
118  충남  2022-01-17      v1     1869256
119  충남  2022-01-17      v3       716.0
120  광주  2022-01-16      v2   1218225.0
121  광주  2022-01-16      v1     1247210
122  광주  2022-01-16      v3      9398.0
123  인천  2022-01-13      v2   2469722.0
124  인천  2022-01-13      v1     2528331
125  인천  2022-01-13      v3     16129.0
126  부산  2022-01-13      v2   2770042.0
127  부산  2022-01-13      v1     2844871
128  부산  2022-01-13      v3     17328.0
129  서울  2022-01-17      v2   8078945.0
130  서울  2022-01-17      v1     8235941
131  서울  2022-01-17      v3      3289.0
132  세종  2022-01-16      v2    281623.0
133  세종  2022-01-16      v1      290246
134  세종  2022-01-16      v3      1521.0
135  부산  2022-01-17      v2   2783354.0
136  부산  2022-01-17      v1     2847953
137  부산  2022-01-17      v3       765.0
138  경기  2022-01-17      v2  11395833.0
139  경기  2022-01-17      v1    11647430
140  경기  2022-01-17      v3      7220.0
141  충북  2022-01-13      v2   1370067.0
142  충북  2022-01-13      v1     1406214
143  충북  2022-01-13      v3      8977.0
144  세종  2022-01-13      v2    279762.0
145  세종  2022-01-13      v1      289674
146  세종  2022-01-13      v3      1592.0
147  경남  2022-01-13      v2   2763588.0
148  경남  2022-01-13      v1     2843446
149  경남  2022-01-13      v3     18121.0
150  경북  2022-01-16      v2   2198022.0
151  경북  2022-01-16      v1     2259768
152  경북  2022-01-16      v3     12043.0
153  경남  2022-01-14      v2   2769699.0
154  경남  2022-01-14      v1     2844520
155  경남  2022-01-14      v3     20909.0
156  경북  2022-01-14      v2   2191750.0
157  경북  2022-01-14      v1     2257551
158  경북  2022-01-14      v3     17547.0
159  경남  2022-01-17      v2   2778517.0
160  경남  2022-01-17      v1     2846949
161  경남  2022-01-17      v3       515.0
162  경기  2022-01-13      v2  11342341.0
163  경기  2022-01-13      v1    11630764
164  경기  2022-01-13      v3     72135.0
165  대구  2022-01-17      v2   1941145.0
166  대구  2022-01-17      v1     1996374
167  대구  2022-01-17      v3       308.0
168  울산  2022-01-16      v2    930920.0
169  울산  2022-01-16      v1      956453
170  울산  2022-01-16      v3      5551.0
171  대구  2022-01-13      v2   1929408.0
172  대구  2022-01-13      v1     1993851
173  대구  2022-01-13      v3     12079.0
174  전남  2022-01-16      v2   1600246.0
175  전남  2022-01-16      v1     1631382
176  전남  2022-01-16      v3      8710.0
177  세종  2022-01-17      v2    281703.0
178  세종  2022-01-17      v1      290304
179  세종  2022-01-17      v3        77.0
180  대전  2022-01-15      v2   1200346.0
181  대전  2022-01-15      v1     1230543
182  대전  2022-01-15      v3     16060.0
183  충남  2022-01-12      v2   1813903.0
184  충남  2022-01-12      v1     1865661
185  충남  2022-01-12      v3     14912.0
186  광주  2022-01-21      v2   1220758.0
187  광주  2022-01-21      v1     1247764
188  광주  2022-01-21      v3    682394.0
189  서울  2022-01-21      v2   8090244.0
190  서울  2022-01-21      v1     8239400
191  서울  2022-01-21      v3   4304485.0
192  경기  2022-01-21      v2  11414202.0
193  경기  2022-01-21      v1    11652853
194  경기  2022-01-21      v3   5970505.0
195  부산  2022-01-12      v2   2764441.0
196  부산  2022-01-12      v1     2843856
197  부산  2022-01-12      v3     21336.0
198  전북  2022-01-15      v2   1543969.0
199  전북  2022-01-15      v1     1573966
200  전북  2022-01-15      v3     18794.0
201  충북  2022-01-15      v2   1375764.0
202  충북  2022-01-15      v1     1407536
203  충북  2022-01-15      v3     18589.0
204  대구  2022-01-15      v2   1939414.0
205  대구  2022-01-15      v1     1995815
206  대구  2022-01-15      v3     23183.0
207  강원  2022-01-12      v2   1296280.0
208  강원  2022-01-12      v1     1329160
209  강원  2022-01-12      v3     12496.0
210  부산  2022-01-14      v2   2774965.0
211  부산  2022-01-14      v1     2845893
212  부산  2022-01-14      v3     18421.0
213  대구  2022-01-21      v2   1945813.0
214  대구  2022-01-21      v1     1997407
215  대구  2022-01-21      v3    978794.0
216  광주  2022-01-12      v2   1208086.0
217  광주  2022-01-12      v1     1245166
218  광주  2022-01-12      v3     11328.0
219  대구  2022-01-12      v2   1923508.0
220  대구  2022-01-12      v1     1992920
221  대구  2022-01-12      v3     14906.0
222  광주  2022-01-14      v2   1213744.0
223  광주  2022-01-14      v1     1246121
224  광주  2022-01-14      v3      9822.0
225  충남  2022-01-21      v2   1830143.0
226  충남  2022-01-21      v1     1870124
227  충남  2022-01-21      v3   1048429.0
228  울산  2022-01-14      v2    927850.0
229  울산  2022-01-14      v1      955638
230  울산  2022-01-14      v3      9724.0
231  경북  2022-01-15      v2   2196640.0
232  경북  2022-01-15      v1     2259004
233  경북  2022-01-15      v3     25890.0
234  울산  2022-01-12      v2    922990.0
235  울산  2022-01-12      v1      954686
236  울산  2022-01-12      v3      8441.0
237  울산  2022-01-15      v2    930201.0
238  울산  2022-01-15      v1      956188
239  울산  2022-01-15      v3     12911.0
240  경기  2022-01-12      v2  11322902.0
241  경기  2022-01-12      v1    11625724
242  경기  2022-01-12      v3     84257.0
243  전남  2022-01-15      v2   1599517.0
244  전남  2022-01-15      v1     1631047
245  전남  2022-01-15      v3     20760.0
246  충북  2022-01-12      v2   1367301.0
247  충북  2022-01-12      v1     1405622
248  충북  2022-01-12      v3     11145.0
249  인천  2022-01-12      v2   2465509.0
250  인천  2022-01-12      v1     2527285
251  인천  2022-01-12      v3     18874.0
252  경북  2022-01-12      v2   2183314.0
253  경북  2022-01-12      v1     2255125
254  경북  2022-01-12      v3     18453.0
255  부산  2022-01-15      v2   2781230.0
256  부산  2022-01-15      v1     2847265
257  부산  2022-01-15      v3     32977.0
258  전북  2022-01-12      v2   1535053.0
259  전북  2022-01-12      v1     1572213
260  전북  2022-01-12      v3     12473.0
261  부산  2022-01-21      v2   2788089.0
262  부산  2022-01-21      v1     2849093
263  부산  2022-01-21      v3   1554554.0
264  대전  2022-01-12      v2   1191920.0
265  대전  2022-01-12      v1     1228563
266  대전  2022-01-12      v3      9644.0
267  전북  2022-01-21      v2   1547262.0
268  전북  2022-01-21      v1     1574779
269  전북  2022-01-21      v3    958100.0
270  제주  2022-01-12      v2    560179.0
271  제주  2022-01-12      v1      579173
272  제주  2022-01-12      v3      5489.0
273  세종  2022-01-12      v2    278871.0
274  세종  2022-01-12      v1      289482
275  세종  2022-01-12      v3      1770.0
276  대전  2022-01-14      v2   1197407.0
277  대전  2022-01-14      v1     1229717
278  대전  2022-01-14      v3     10238.0
279  강원  2022-01-21      v2   1306501.0
280  강원  2022-01-21      v1     1331870
281  강원  2022-01-21      v3    795269.0
282  대전  2022-01-21      v2   1203724.0
283  대전  2022-01-21      v1     1231435
284  대전  2022-01-21      v3    628469.0
285  경남  2022-01-21      v2   2783896.0
286  경남  2022-01-21      v1     2848083
287  경남  2022-01-21      v3   1517240.0
288  경남  2022-01-15      v2   2776414.0
289  경남  2022-01-15      v1     2846130
290  경남  2022-01-15      v3     35508.0
291  울산  2022-01-21      v2    933311.0
292  울산  2022-01-21      v1      956895
293  울산  2022-01-21      v3    476692.0
294  서울  2022-01-15      v2   8073652.0
295  서울  2022-01-15      v1     8234238
296  서울  2022-01-15      v3     93360.0
297  세종  2022-01-21      v2    282507.0
298  세종  2022-01-21      v1      290455
299  세종  2022-01-21      v3    138100.0
300  전남  2022-01-12      v2   1590525.0
301  전남  2022-01-12      v1     1629028
302  전남  2022-01-12      v3     13969.0
303  서울  2022-01-14      v2   8060382.0
304  서울  2022-01-14      v1     8230606
305  서울  2022-01-14      v3     60252.0
306  강원  2022-01-15      v2   1303832.0
307  강원  2022-01-15      v1     1330984
308  강원  2022-01-15      v3     15860.0
309  서울  2022-01-12      v2   8038001.0
310  서울  2022-01-12      v1     8225014
311  서울  2022-01-12      v3     55477.0
312  세종  2022-01-14      v2    280462.0
313  세종  2022-01-14      v1      289820
314  세종  2022-01-14      v3      2311.0
315  인천  2022-01-21      v2   2484196.0
316  인천  2022-01-21      v1     2532911
317  인천  2022-01-21      v3   1330273.0
318  광주  2022-01-15      v2   1217198.0
319  광주  2022-01-15      v1     1246812
320  광주  2022-01-15      v3     23052.0
321  경남  2022-01-12      v2   2756905.0
322  경남  2022-01-12      v1     2842348
323  경남  2022-01-12      v3     21325.0
324  인천  2022-01-15      v2   2478165.0
325  인천  2022-01-15      v1     2530654
326  인천  2022-01-15      v3     32930.0
327  경북  2022-01-21      v2   2202814.0
328  경북  2022-01-21      v1     2260963
329  경북  2022-01-21      v3   1247047.0
330  전남  2022-01-21      v2   1602479.0
331  전남  2022-01-21      v1     1632045
332  전남  2022-01-21      v3   1031459.0
333  제주  2022-01-15      v2    565008.0
334  제주  2022-01-15      v1      580074
335  제주  2022-01-15      v3      6041.0
336  인천  2022-01-14      v2   2473547.0
337  인천  2022-01-14      v1     2529318
338  인천  2022-01-14      v3     18883.0
339  제주  2022-01-21      v2    566811.0
340  제주  2022-01-21      v1      580579
341  제주  2022-01-21      v3    295807.0
342  경기  2022-01-15      v2  11384397.0
343  경기  2022-01-15      v1    11642409
344  경기  2022-01-15      v3    160860.0
345  대구  2022-01-14      v2   1934070.0
346  대구  2022-01-14      v1     1994689
347  대구  2022-01-14      v3     13612.0
348  충남  2022-01-15      v2   1825332.0
349  충남  2022-01-15      v1     1868511
350  충남  2022-01-15      v3     24353.0
351  충북  2022-01-21      v2   1379378.0
352  충북  2022-01-21      v1     1408620
353  충북  2022-01-21      v3    783588.0
354  세종  2022-01-15      v2    281209.0
355  세종  2022-01-15      v1      290049
356  세종  2022-01-15      v3      3507.0

In [36]:
pdVacV1 = pdVac.pivot_table(index=["LOC", "STD_DAY"], columns="V_TH", values = "V_CNT")
pdVacV1.head()
pdVacV1 = pdVacV1.reset_index()
pdVacV1.head()

ValueError: Wrong columns V_TH.

- Spark 데이터 프레임의 StatFunctions 패키지 함수 중 monotonically_increasing_id
    - 
데이터 프레임의 로우에 되는매핑되는  고유 id 반환

### 2.  백신접종 완료자와 코로나 확진자 수 데이터 저장

In [39]:
vaccine = pdVacV1.to_spark()

NameError: name 'pdVacV1' is not defined

In [42]:
# 지역별 인구 10만명당 백신 접종률 계산
# 인구 data 필요
popu = find_data(conf_dm, 'LOC')
# 코로나 현황 data 필요
patients = find_data(conf_dm,'CORONA_PATIENTS')

In [43]:
vacRate = vaccine.join(popu, on="LOC") \
                 .select("LOC",
                         "STD_DAY",
                         ceil(col("v3")/col("POPU")*100000).alias("THRD_RATE"))
vacRate.show(1)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `v3` cannot be resolved. Did you mean one of the following? [`loc`, `AREA`, `POPU`, `V_CNT`, `level_2`].;
'Project [LOC#185, STD_DAY#186, 'ceil((('v3 / POPU#299) * 100000)) AS THRD_RATE#321]
+- Project [loc#185, std_day#186, level_2#187, V_CNT#188, AREA#298, POPU#299]
   +- Join Inner, (loc#185 = LOC#297)
      :- Relation [loc#185,std_day#186,level_2#187,V_CNT#188] JDBCRelation(CORONA_VACCINE) [numPartitions=1]
      +- Relation [LOC#297,AREA#298,POPU#299] JDBCRelation(LOC) [numPartitions=1]

In [44]:
coPatVac = vacRate.join(patients, on = ["LOC", "STD_DAY"]) \
                  .select("LOC", "STD_DAY", "THRD_RATE", "QUR_RATE")

NameError: name 'vacRate' is not defined

In [45]:
coPatVac.show(3)

NameError: name 'coPatVac' is not defined

In [ ]:
coPatVac = coPatVac.withColumn("CV_IDX", monotonically_increasing_id())
coPatVac.show(2)

In [46]:
save_data(conf_svc, coPatVac, "CO_VACCINE_PATIENT")

NameError: name 'coPatVac' is not defined

### 3. 다중이용시설과 코로나 확진자 수의 상관관계
- DM DB LOC_FACILITY_CNT
    - 인구 10만명당 다중 이용시설 수
- DM DB CORONA_PATIENTS

In [50]:
facil = find_data(conf_dm, "LOC_FACILITY_CNT")
facil.show(1)

+----+-------+
| LOC|FAC_CNT|
+----+-------+
|경북|    944|
+----+-------+
only showing top 1 row

In [53]:
facPop = popu.join(facil, on = "LOC") \
             .select("LOC", 
                     ceil(facil.FAC_CNT/popu.POPU*100000).alias("FAC_POPU"))
facPop.show(1)

+----+--------+
| LOC|FAC_POPU|
+----+--------+
|강원|      38|
+----+--------+
only showing top 1 row

In [57]:
coFacPat = patients.join(facPop, on="LOC") \
                   .select("LOC", "FAC_POPU", "QUR_RATE", "STD_DAY") \
                   .withColumn("CF_IDX", monotonically_increasing_id())
coFacPat.show()

+----+--------+--------+----------+------+
| LOC|FAC_POPU|QUR_RATE|   STD_DAY|CF_IDX|
+----+--------+--------+----------+------+
|경북|      36|     641|2022-01-17|     0|
|경북|      36|     646|2022-01-18|     1|
|경북|      36|     637|2022-01-16|     2|
|경북|      36|     652|2022-01-19|     3|
|경북|      36|     661|2022-01-20|     4|
|경북|      36|     670|2022-01-21|     5|
|경북|      36|     652|2022-01-19|     6|
|경북|      36|     661|2022-01-20|     7|
|경북|      36|     670|2022-01-21|     8|
|경북|      36|     641|2022-01-17|     9|
|경북|      36|     646|2022-01-18|    10|
|경북|      36|     637|2022-01-16|    11|
|대전|      53|     913|2022-01-18|    12|
|대전|      53|     900|2022-01-16|    13|
|대전|      53|     906|2022-01-17|    14|
|대전|      53|     936|2022-01-21|    15|
|대전|      53|     928|2022-01-20|    16|
|대전|      53|     921|2022-01-19|    17|
|대전|      53|     936|2022-01-21|    18|
|대전|      53|     928|2022-01-20|    19|
+----+--------+--------+----------+------+
only showing top 20 rows

In [58]:
save_data(conf_svc, coFacPat, "CO_FACT_PATIENTS")

Py4JJavaError: An error occurred while calling o352.jdbc.
: java.sql.SQLException: Access denied for user 'bigSVC'@'localhost' (using password: YES)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
	at com.mysql.cj.jdbc.ConnectionImpl.createNewIO(ConnectionImpl.java:828)
	at com.mysql.cj.jdbc.ConnectionImpl.<init>(ConnectionImpl.java:448)
	at com.mysql.cj.jdbc.ConnectionImpl.getInstance(ConnectionImpl.java:241)
	at com.mysql.cj.jdbc.NonRegisteringDriver.connect(NonRegisteringDriver.java:198)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.BasicConnectionProvider.getConnection(BasicConnectionProvider.scala:49)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.ConnectionProviderBase.create(ConnectionProvider.scala:102)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1(JdbcDialects.scala:160)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1$adapted(JdbcDialects.scala:156)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:50)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

### 4. 요일별 코로나 확진자 수를 구해보자
- 코로나 현황 data : STD_DAY 기준일 data -> 요일로 변경(dayofweek()) -> 요일별 그룹 생성후 신규 확진자수 합산

In [69]:
# 코로나 현황 data 필요
patients = find_data(conf_dm, "CORONA_PATIENTS")

# 기준일을 요일로 변환
patWeek = patients.withColumn("DAY_OF_WEEK", dayofweek(col("STD_DAY")))
patWeek.show(5)

+----+---------+-------+-----------+--------+----------+-----------+
| LOC|DEATH_CNT|DEF_CNT|LOC_OCC_CNT|QUR_RATE|   STD_DAY|DAY_OF_WEEK|
+----+---------+-------+-----------+--------+----------+-----------+
|강원|      110|  13838|         94|     899|2022-01-18|          3|
|서울|     2063| 243337|        684|    2559|2022-01-18|          3|
|대전|      187|  13262|        101|     913|2022-01-18|          3|
|전북|      121|  11094|        114|     621|2022-01-17|          2|
|광주|       55|  10049|        173|     697|2022-01-16|          1|
+----+---------+-------+-----------+--------+----------+-----------+
only showing top 5 rows

In [70]:
weekUp = patWeek.groupby(patWeek.DAY_OF_WEEK).agg(sum(col("LOC_OCC_CNT")).alias("PATIENTS"))
weekUp.show()

+-----------+--------+
|DAY_OF_WEEK|PATIENTS|
+-----------+--------+
|          1|  7626.0|
|          6| 12964.0|
|          3|  7526.0|
|          5| 12714.0|
|          4| 10862.0|
|          2|  7102.0|
+-----------+--------+

In [71]:
weekUp = weekUp.withColumn("DAY_OF_WEEK", when(weekUp.DAY_OF_WEEK == 1, "MON")
                                        .when(weekUp.DAY_OF_WEEK == 2, "TUE")
                                        .when(weekUp.DAY_OF_WEEK == 3, "WED")
                                        .when(weekUp.DAY_OF_WEEK == 4, "THE")
                                        .when(weekUp.DAY_OF_WEEK == 5, "FRI")
                                        .when(weekUp.DAY_OF_WEEK == 6, "SAT")
                                        .when(weekUp.DAY_OF_WEEK == 7, "SUN")
                 )
weekUp.show()

+-----------+--------+
|DAY_OF_WEEK|PATIENTS|
+-----------+--------+
|        MON|  7626.0|
|        SAT| 12964.0|
|        WED|  7526.0|
|        FRI| 12714.0|
|        THE| 10862.0|
|        TUE|  7102.0|
+-----------+--------+

In [72]:
# long -> wide 형으로 변경 후 저장
pdWeek = weekUp.pandas_api()
pdWeek

  DAY_OF_WEEK  PATIENTS
0         MON    7626.0
1         SAT   12964.0
2         WED    7526.0
3         FRI   12714.0
4         THE   10862.0
5         TUE    7102.0

In [74]:
pdWeekpvt = pdWeek.pivot_table(columns="DAY_OF_WEEK", values="PATIENTS")
pdWeek = pdWeekpvt.reset_index()

In [75]:
weekUp = pdWeek.to_spark()
weekUp.show()

/root/spark/python/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

+--------+-------+------+-------+-------+------+------+
|   index|    FRI|   MON|    SAT|    THE|   TUE|   WED|
+--------+-------+------+-------+-------+------+------+
|PATIENTS|12714.0|7626.0|12964.0|10862.0|7102.0|7526.0|
+--------+-------+------+-------+-------+------+------+

In [79]:
weekUp.withColumn("STD_DAY", lit(cal_std_day(365*3+4))).show()

+--------+-------+------+-------+-------+------+------+----------+
|   index|    FRI|   MON|    SAT|    THE|   TUE|   WED|   STD_DAY|
+--------+-------+------+-------+-------+------+------+----------+
|PATIENTS|12714.0|7626.0|12964.0|10862.0|7102.0|7526.0|2022-01-18|
+--------+-------+------+-------+-------+------+------+----------+

In [80]:
save_data(conf_svc, weekUp, "CO_WEEKDAY")

Py4JJavaError: An error occurred while calling o672.jdbc.
: java.sql.SQLException: Access denied for user 'bigSVC'@'localhost' (using password: YES)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
	at com.mysql.cj.jdbc.ConnectionImpl.createNewIO(ConnectionImpl.java:828)
	at com.mysql.cj.jdbc.ConnectionImpl.<init>(ConnectionImpl.java:448)
	at com.mysql.cj.jdbc.ConnectionImpl.getInstance(ConnectionImpl.java:241)
	at com.mysql.cj.jdbc.NonRegisteringDriver.connect(NonRegisteringDriver.java:198)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.BasicConnectionProvider.getConnection(BasicConnectionProvider.scala:49)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.ConnectionProviderBase.create(ConnectionProvider.scala:102)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1(JdbcDialects.scala:160)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1$adapted(JdbcDialects.scala:156)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:50)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)